@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --primary: 240 100% 50%;
  --primary-foreground: 210 40% 98%;
  --secondary: 240 4.8% 16%;
  --secondary-foreground: 210 40% 98%;
  --muted: 240 4.8% 16%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 4.8% 16%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 100% 50%;
  --radius: 0.5rem;
}

html, body {
  height: 100%;
}

body {
  @apply bg-black text-white;
}

.container {
  @apply mx-auto max-w-7xl px-4;
}